@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
.tovar_container {
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    display: grid;
    /*grid-template-rows: 300px 300px 100px;*/
    grid-template-columns: 370px 370px 370px;
}
.tovar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 25px;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}
.tovar h2 {
    margin-top: 5px;
    color: var(--tg-theme-text-color);
    font-weight: 700;
    width: 350px;
    text-align: center;
}
.tovar img {
    width: 350px;
}
.button_cart {
    text-align: center;
    width: 350px;
    height: 50px;
    border: 0;
    border-radius: 7px;
    background-color: rgb(255, 166, 0);
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
    transition: all;
    transition-property: all;
    transition-duration: 0.2s;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_cart_plus {
    width: 280px;
    margin-left: 70px;
    background-color: rgb(53, 173, 29);
    font-weight: 900;
}
.button_cart_m {
    text-align: center;
    color: white;
    width: 50px;
    height: 50px;
    border: 0px;
    border-radius: 7px;
    background-color: rgb(243, 81, 41);
    font-size: 25px;
    font-weight: 900;
    position: absolute;
    z-index: 0;
    margin-left: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1200px) {
    .tovar_container {
        grid-template-columns: 300px 300px 300px;
    }
    .tovar img {
        width: 250px;
    }
    .button_cart {
        width: 250px;
        height: 35px;
        font-size: 20px;
    }
    .button_cart_m {
        width: 35px;
        height: 35px;
    }
    .button_cart_plus {
        width: 195px;
        margin-left: 55px;
    }
    .tovar h2 {
        width: 250px;
    }
    .tovar {
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media (max-width: 900px) {
    .tovar_container {
        grid-template-columns: 350px 350px;
    }
    .tovar h2 {
        font-size: 17px;
    }
    .tovar {
        padding-right: 50px;
        padding-left: 50px;
    }
}
@media (max-width: 700px) {
    .tovar_container {
        grid-template-columns: 300px 300px;
    }
    .tovar h2 {
        font-size: 15px;
    }
    .tovar {
        padding-right: 25px;
        padding-left: 25px;
    }
}
@media (max-width: 600px) {
    .tovar img {
        width: 230px;
    }
    .button_cart {
        width: 230px;
        height: 28px;
        font-size: 18px;
    }
    .button_cart_m {
        width: 28px;
        height: 28px;
    }
    .button_cart_plus {
        width: 190px;
        margin-left: 40px;
    }
    .tovar_container {
        grid-template-columns: 250px 250px;
        padding: 0px;
    }
    .tovar h2 {
        width: 230px;
    }
    .tovar {
        padding-right: 10px;
        padding-left: 10px;
    }
}
@media (max-width: 500px) {
    .tovar img {
        width: 180px;
    }
    .tovar_container {
        grid-template-columns: 190px 190px;
        padding: 0px;
    }
    .button_cart {
        width: 180px;
        font-size: 14px;
    }
    .button_cart_plus {
        width: 140px;
        margin-left: 40px;
    }
    .tovar h2 {
        font-size: 15px;
        width: 180px;
    }
    .tovar {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (max-width: 380px) {
    .tovar img {
        width: 160px;
    }
    .tovar_container {
        grid-template-columns: 170px 170px;
        padding: 0px;
    }
    .button_cart {
        width: 160px;
        font-size: 14px;
    }
    .button_cart_plus {
        width: 120px;
        margin-left: 30px;
    }
    .tovar h2 {
        font-size: 14px;
        width: 160px;
    }
}
